[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "bigmds"]
	path = bigmds
	url = https://github.com/pachoning/bigmds
	shallow = true
	registered = true
